<!--
  Generated template for the CatalogProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button start menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{catalog.name}}</ion-title>
    <ion-buttons end>
      <button ion-button ion-item-left color="custom_light" [navPush]="welcomePage">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button item-rigth color="custom_light" [navPush]="cartPage">
        <ion-icon name="cart">
          <ion-badge color="custom_danger">2</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content bounce>
  <ion-list>
    <ion-list-header>
      <ion-thumbnail item-left>
        <img *ngIf="catalog.imagenPath == null" src="./assets/images/thumbnail.jpg"/>
        <img *ngIf="catalog.imagenPath != null" src="{{catalog.imagenPath}}">
      </ion-thumbnail>
      <h2>{{catalog.name}}</h2>
      <ion-badge color="custom_danger">{{catalog.product_count}}</ion-badge>
    </ion-list-header>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail item-left>
        <div *ngIf="product.imagenPath == null">
          <img src="./assets/images/thumbnail.jpg"/>
          <ion-spinner *ngIf="!_imagesAreReady"></ion-spinner>
        </div>
        <img *ngIf="product.imagenPath != null" [src]="product.imagenPath"/>
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <p>Precio: ${{product.price}}
        <small>COP</small>
      </p>
      <p>Descripción: {{product.custom_attributes[0].value}}</p>
      <p>
        <small>REF:{{product.sku}}</small>
      </p>
      <button ion-button item-right color="custom_danger" (click)="viewProductDetails(product)">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="_enableInfiniteScrolling">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
